body, html {
    background-color: rgb(241, 241, 241);
    /* font-family: "Lucida Console", "Courier New", monospace; */
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;;
    overflow-x: hidden;
    overflow-y: hidden;
}
.sidenav {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    transform: translateX(calc(-100% - 4px));
    padding-top: 180px;
    margin-right: -5px;
    box-shadow: 4px 0px 4px 0px #5e5e5e;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #676767;
    display: block;
    white-space: nowrap;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #000000;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#previewScreenBox {
    width: 100%;
    height: 60%;
    margin-bottom: 10px;
    background-image: url(/churchZoomIcon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#controlButtonsBox {
    width: 100%;
    height: 25%;
    display: flex;
    flex-flow: row wrap;
}
#aboutInfo {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: calc(100% - 150px);
    overflow-y: scroll;
}
.btnBox {
    flex-basis: 50%;
    position: relative;
}
.ctrlBtn {
    width: calc(100% - 50px);
    height: calc(100% - 30px);
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ctrlBtn:active {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}
#previewScreenToggle {
    position: absolute;
    top: 10px;
    right: 10px;
}
#previewScreenToggleBox {
    position: absolute;
    top: 10px;
    right: 7px;
}
#previewScreenToggleBox a {
    position: relative;
    top: 12px;
    right: 30px;
}

#mainContent {
    transition: transform .4s, margin-left .4s;
    -webkit-transition: transform .4s, margin-left .4s;
    width: 100%;
    height: 100%;
}
img.screen {
    position: absolute;
    left: 0px;
    width: 100%;
}
.raysImg {
    position: absolute;
    top: 0;
    background-color: #003057;
    width: 100%;
    height: 150px;
}
.sidenav .raysImg .appTitle {
    position: absolute;
    bottom: 5px;
    color: white;
    font-size: 28px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 100px;}
    .sidenav a {font-size: 20px;}
    .raysImg {height: 90px;}
}
.page {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
#addrInput {
    font-size: 28px;
}
input {
    outline: none;
    font-size: 28px;
    border-style: none none solid none;
    border-radius: 0;
    transition: border-color .4s;
    border-color: rgba(0, 0, 0, 0.25);
    border-width: 3px;
    background-color: rgba(0, 0, 0, 0);
}
input:focus {
    border-color: rgb(255, 0, 0);
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert {
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    z-index: 10;
    opacity: 0;
    transition: opacity .5s;
}
#handshakeInput {
    width: 80px;
    text-align: center;
}
#ipInput { width: 55%; text-align: right; }
#portInput { width: 20%; }
.saveBtn {
    background-color: #004379;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    width: 30%;
    min-width: auto;
}
.saveBtn:active {
    background-color: #002c50;
}
#scanQRcodeBtn {
    font-size: 15px;
    border-radius: 15px;
    border-width: 5px;
    border-color: black;
    background-color: rgb(231, 231, 231);
    color: black;
    width: 100px;
    height: 100px;
}
#scanQRcodeBtn:active {
    background-color: rgb(159, 159, 159);
}

.loader {
    margin: 0;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin { /* Safari */
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}